:root {
    --font: 1.5em Roboto, serif;
}

html, body {
    height: 100%;
    margin: 0;
    text-align: center;
    font: var(--font)
}

.content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.content .row.header {
    flex: 0 1 auto;
}

.content .row.main_content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content .row.compass_div {
    flex: 0 1 auto;
}

#btn_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#permission_btn {
    font: var(--font);
    background-color: midnightblue;
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
    color: white;
}

.citydata {
    color: slategray;
    font-size: 1em;
}

@media(orientation: landscape) {
    html, body {
        font-size: 1em;
    }
}