:root {
    --std-font-size: 2em;
    --std-font-family: Roboto, serif;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: var(--std-font-family)
}

div {
    margin: 0;
    text-align: center;
    font-size: var(--std-font-size);
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#mainContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar {
    height: 3em;
    float: top;
}

button {
    text-align: center;
    font-family: var(--std-font-family);
    font-size: var(--std-font-family);
    background-color: darkblue;
    color: white;
    border: 1px solid;
    padding: 8px;
}

button:hover {
    background-color: cornflowerblue;
}

canvas {
    background-color: gray;
    width: 100%;
    height: 100%;
    display: block;
}