:root {
    --font-family: 'Roboto', sans-serif
}

html, body {
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: var(--font-family);
    color: white;
}

.content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
    background: #374785;
    display: flex;
    justify-content: space-evenly;
}

.content .row.main_content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #374785;
}

.content .row.compass_div {
    flex: 0 1 auto;
}

#btn_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

button {
    background-color: #374785;
    color: white;
    border-width: 0;
    padding: 15px 30px;
    border-radius: 10px;
}

button:hover {
    background-color: #A8D0E6;
    color: #374785;
}

#permission_btn {
    font-family: var(--font-family);
    font-size: 1.5em;
    padding: 30px 60px;
}


.citydata {
    color: slategray;
    font-size: 1em;
}

@media(orientation: landscape) {
    html, body {
        font-size: 1em;
    }
}